#root {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}